body,
html {
    background-color: #f26d80;
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

#buttoncadastrar {
    width: 100%;
    background-image: linear-gradient(to bottom right, #7519DC, #DD586B);
    color: white;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#buttonJS {
    width: 10%;
    background-image: linear-gradient(to bottom right, #7519DC, #DD586B);
    color: white;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#buttoncadastrar:hover {
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
}

input[type=text],
select {
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
    font-family: Helvetica;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

input[type=number],
select {
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
    font-family: Helvetica;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

input[type=password],
select {
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

input[type=submit]:hover {
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
}

input[type=password]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input[type=text]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input[type=number]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input[type=text]:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

input[type=password]:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

input[type=number]:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

.formulario_cadastro {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 35px;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.textCadastro {
    background: -webkit-linear-gradient(135deg, #9E32B5, #f26d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 30px;
    top: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.Paragrafo1 {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 30px;
    margin-top: 600px;
}